<nav class="fixed top-0 left-0 z-100 w-full px-10 py-6">
    <div class="flex items-center justify-between text-white">
        <h1 class="text-3xl font-bold text-[#C08B45]">
            Icosium
        </h1>

        <ul class="flex gap-10 text-white">
            <li class="cursor-pointer hover:text-[#C08B45] transition">Accueil</li>
            <li class="cursor-pointer hover:text-[#C08B45] transition">Menu</li>
            <li class="cursor-pointer hover:text-[#C08B45] transition">À propos</li>
            <li class="cursor-pointer hover:text-[#C08B45] transition">Galerie</li>
            <li class="cursor-pointer hover:text-[#C08B45] transition">Contact</li>
        </ul>

        <button class="cursor-pointer rounded-xl bg-[#C08B45] px-6 py-3 font-semibold text-black hover:opacity-90 transition">
            Nous trouver
        </button>

    </div>
</nav>